<html>
  <head>
    <link rel="stylesheet" type="text/css" href="customers-page.component.css">
    <h1>Customers</h1>
  </head>
  <body>
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Car Type</th>
        <th>Destination</th>
      </tr>
      <tr *ngFor="let customer of customers">
        <td>
          {{customer.id}}
        </td>
        <td>
          {{customer.name}}
        </td>
        <td>
          {{customer.phone}}
        </td>
        <td>
          {{customer.type_car}}
        </td>
        <td>
          {{customer.destination}}
        </td>
      </tr>
    </table>
  </body>
</html>
