<html>
  <head>
    <link rel="stylesheet" type="text/css" href="specific-customer.component.css">
    <h1>Identity</h1>
  </head>
  <body>
  <table style="width:100%">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Car Type</th>
      <th>Destination</th>
    </tr>
    <tr>
      <td>
        {{customerReg.id}}
      </td>
      <td>
        {{customerReg.name}}
      </td>
      <td>
        {{customerReg.phone}}
      </td>
      <td>
        {{customerReg.type_car}}
      </td>
      <td>
        {{customerReg.destination}}
      </td>
    </tr>
  </table>
  </body>
</html>
